<%
  param_name = "#{association_name}_page"
%>

<div class="box_relationships" id="<%= association_name %>">

  <h2>
    <%= @resource.human_attribute_name(association_name) %>
    <small><%= add_new %></small>
  </h2>

  <% if @items.any? -%>
    <%= table %>
    <%= admin_paginate(@items, Typus.pagination.merge(:anchor => association_name, :param_name => param_name)) %>
  <% else %>
    <p><%= Typus::I18n.t("No %{resources} found.", :resources => association_name.humanize.downcase.pluralize) %></p>
  <% end %>

</div>
