<!DOCTYPE html>

<html lang="<%= I18n.locale %>">

<head>
  <%= render 'admin/shared/head' %>
</head>

<body id="account">

  <div id="wrapper">

    <div id="box">
      <h1 class="logo"><%= Typus.admin_title %></h1>
      <%= display_flash_message %>
      <%= yield :layout %>
    </div>

    <% if content_for?(:actions) %>
      <div id="actions">
        <%= yield :actions %>
      </div>
    <% end %>

  </div>

</body>

</html>
