= link_to 'О нашей студии', article_permalink(19, 'second_menu')
= link_to 'Портфолио', portfolio_index_path(anchor: 'second_menu')
= link_to 'Прайс-лист', article_permalink(20, 'second_menu')
= link_to 'Партнеры', partners_path(anchor: 'second_menu')
= link_to 'Отзывы', reviews_path(anchor: 'second_menu')
= link_to 'Контакты', article_permalink(21, 'second_menu')
