.item
  = image_tag 'header/second_menu/landshaftnoe_proektirovanie.gif', alt: 'ландшафтное проектирование'
  = link_to 'Ландшафтное проектирование', article_permalink(1, 'second_menu')
.item
  = image_tag 'header/second_menu/rasteniya.gif', alt: 'растения'
  = link_to 'Растения', article_permalink(2, 'second_menu')
.item
  = image_tag 'header/second_menu/vodoemi.gif', alt: 'водоемы'
  = link_to 'Водоемы', article_permalink(3, 'second_menu')
.item
  = image_tag 'header/second_menu/stilistika_sada.gif', alt: 'стилистика сада'
  = link_to 'Стилистика сада', article_permalink(4, 'second_menu')
.item
  = image_tag 'header/second_menu/posadka_krupnomerov.gif', alt: 'посадка крупномеров'
  = link_to 'Посадка крупномеров', article_permalink(5, 'second_menu')
.item
  = image_tag 'header/second_menu/uslugi_sadovnika.gif', alt: 'услуги садовника'
  = link_to 'Услуги садовника', article_permalink(6, 'second_menu')
.item
  = image_tag 'header/second_menu/mosheniya.gif', alt: 'мощения'
  = link_to 'Мощения', article_permalink(7, 'second_menu')
.item
  = image_tag 'header/second_menu/malie_arhitekturnie_formi.gif', alt: 'малые архитектурные формы'
  = link_to 'Малые архитектурные формы', article_permalink(8, 'second_menu')
.item
  = image_tag 'header/second_menu/avtomaticheskiy_poliv.gif', alt: 'автоматический полив'
  = link_to 'Автоматический полив', article_permalink(9, 'second_menu')
.item
  = image_tag 'header/second_menu/osveshenie.gif', alt: 'освещение'
  = link_to 'Освещение', article_permalink(10, 'second_menu')
.item
  = image_tag 'header/second_menu/vertikalnoe_ozelenenie.gif', alt: 'вертикальное озеленение'
  = link_to 'Вертикальное озеленение', article_permalink(11, 'second_menu')
.item
  = image_tag 'header/second_menu/zimnie_sadi.gif', alt: 'зимние сады'
  = link_to 'Зимние сады', article_permalink(12, 'second_menu')
.clear
